---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfs-subdir-external-provisioner-rpik3s
  namespace: nfs-provisioner
spec:
  interval: 30m
  chart:
    spec:
      chart: nfs-subdir-external-provisioner
      version: "4.0.18"
      sourceRef:
        kind: HelmRepository
        name: nfs-subdir
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      repository: registry.k8s.io/sig-storage/nfs-subdir-external-provisioner
      tag: v4.0.2
      pullPolicy: IfNotPresent
    replicaCount: 1
    leaderElection:
      enabled: false
    nfs:
      server: "${NFS_IP}"
      path: "/volume3/rpi-k3s"
      mountOptions:
        - nfsvers=4.1
        - hard
        - timeo=600
        - retrans=3
        - proto=tcp
        - rsize=4096
        - wsize=4096
        - noatime
        - nodiratime
      reclaimPolicy: Retain
    storageClass:
      defaultClass: false
      onDelete: retain
      pathPattern: "$${.PVC.namespace}"
      name: nfs-rpik3s
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - nfs-subdir-external-provisioner-rpik3s
              topologyKey: kubernetes.io/hostname
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 128Mi
