[Unit]
Description=Refresh k3s admin cert in kubeconfig from kube-master
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/bin/refresh-k3s-kubeconfig
