[Unit]
Description=Monthly refresh of k3s admin cert in kubeconfig

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
